<div class="container-fluid" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">

    
    <ngb-carousel #carousel>
      <ng-template ngbSlide>
        <div class="img-block">
          <img src="assets\imgs\pexels-cdc-3993212.jpg" alt="Corona Virus">
        </div>
        <div class="carousel-caption">
          <h3>Covid Compliance</h3>
          <p style="font: black;">We all need to do our bit to fight the spread of COVID-19.
            When it comes to compliance in the workplace, this means you need to use the best tools for the job.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-block">
          <img src="assets\imgs\pexels-charlotte-may-5965675.jpg" alt="Wear Mask">
        </div>
        <div class="carousel-caption">
          <h3>Wear Your Mask</h3>
          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  
    

  
</div>
