
<!--Nav bar-->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="nav-link" routerLink="/landing" routerLinkActive="active"><strong>{{title}}</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/screening" routerLinkActive="active"><strong>Screening</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active"><strong>Login</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"><strong>Dashboard</strong></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--Nav bar end-->


<router-outlet></router-outlet>


<div class="footer" style="margin-top: 20%;">
    
  
  <footer class="border-top footer text-light bg-dark">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Covid Compliance</h5>
          <p>Tshwane University Of Technology Covid-19 Compliance System.</p>

        </div>
        <!-- Grid column -->


        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Information About</h5>

          <ul class="list-unstyled">
            <li>
              <a class="nav-link" href="https://www.tut.ac.za/bursaries-and-loans/about" >TUT Financial Aid</a>
            </li>
            <li>
              <a class="nav-link" href="https://www.tut.ac.za/other/campuses/about">TUT Campuses</a>
            </li>
            <li>
              <a class="nav-link" href="https://www.tut.ac.za/study-at-tut/i-am-a-student/academic-records">TUT Academic Records</a>
            </li>
          </ul>

        </div>
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Testing Stations</h5>
          <ul class="list-unstyled">
          <li><a class="nav-link" href="https://www.waze.com/en-GB/live-map/directions/maria-ranto-clinic-3180-soshanguve-l?to=place.w.18417161.184171606.20675167" >Maria Ranto - Sosh South</a></li>
          
          <li><a class="nav-link" href="https://www.google.com/maps/dir//Soshanguve+2+Block+G+Clinic+-+T.B+Unit,+1850+Block+G,+Soshanguve,+0152/@-25.4849604,28.1273395,
            15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1ebfc8bb3626d9f7:0x4a5f5d8b5483c671!2m2!1d28.1273395!2d-25.4849604" >T.B Unit - Sosh North</a></li>
         
            <li>
              <a class="nav-link" href="https://www.google.com/maps/dir//Fibroid+Care,+460+Belvedere+street,
              +Netcare+Femina+Hospital,+Main+Theatre+Complex,+Theatre+3,+Arcadia,+Pretoria,+0007/@-25.6463238,28.0829911,12z/
              data=!4m8!4m7!1m0!1m5!1m1!1s0x1e95621c55555543:0xb373cfedd7bc3548!2m2!1d28.202952!2d-25.745266" >Fibroid Care - Acardia</a>
            </li>

          <li><a class="nav-link" href="https://www.google.com/maps/place/Pretoria+West+Hospital+Pharmacy/@-25.737631,28.139623,
            14z/data=!4m5!3m4!1s0x0:0xed1dfe447bca6872!8m2!3d-25.73651!4d28.1397199?hl=en-ZA" >Hospital Pharmacy -  Main Campus</a></li>
          </ul>
        </div>

        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Go To</h5>

          <ul class="list-unstyled">
            <li>
              <a class="nav-link" routerLink="/login" routerLinkActive="active">LOGIN</a>
            </li>
            <li>
              <a class="nav-link" routerLink="/screening" routerLinkActive="active">SCREENING</a>
            </li>
            <li>
              <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">DASHBOARD</a>
            </li>
          </ul>

        </div>
        
        <!-- Grid column -->

        <!-- Grid column -->
      
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      © 2021 Covid Compliance. <strong>All Rights Reserved.</strong>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</div>  


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
