<div class="container">

    <div class="card text-center">
        <div class="card-header">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" routerLink="/admin" routerLinkActive="active">Profile</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/user" routerLinkActive="active">Users</a>
                  </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Screening Report</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Rules and Regulations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Updates </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#">Calender</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-0" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-2" type="submit">Search</button>
              </form>
            </div>
          </nav>
        </div>
        
      <!--/.Navbar-->
    </div>


</div>

 <div class="row">
        <div class="col-md-4 offset-md-3 mt-10">
           
            <div>
                <h2>Admin's Profile</h2>
            </div><br>
              <div class="form-group">
                <label for="regUsername">First Name</label>
                <input type="text" name="first"  ngModel required #first="ngModel" class="form-control" id="regFname" placeholder="First Name">
              </div>
              <div class="form-group">
                  <label for="loginUsername">Last Name</label>
                  <input type="text" name="last"  ngModel required #last="ngModel" class="form-control" id="regLname" placeholder="Last Name">
              </div>
              <div class="form-group">
                  <label for="loginUsername">Username</label>
                  <input type="text" name="username" readonly ngModel required #username="ngModel" class="form-control" id="regUname" placeholder="Username">
              </div>
              <div class="form-group">
                  <label for="loginUsername">Email</label>
                  <input type="email" name="email" readonly ngModel required #email="ngModel" class="form-control" id="regLname" placeholder="Email Address">
              </div>
            
              <div class="form-group">
                <label for="loginPassword">Password</label>
                <input type="password" name="password" ngModel required #password="ngModel" class="form-control" id="loginPassword" placeholder="Password">
             <!-- </div>
              <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Submit</button>
        </div>-->
        <br>
            <input type="submit" value="submit">
      </div>

<router-outlet></router-outlet>

