
<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
    <h3>COVID-19 Screening Form</h3>
    <form #screeningForm="ngForm" (ngSubmit)="onSubmit(screeningForm)" novalidate>
        <div class="form-group">
            <label for="fullname"> Full Name </label>
            <input type="hidden" ngModel name="id" #id="ngModel" class="form-control" id="id">
            <input type="text" ngModel name="fullname" required #fullname="ngModel" class="form-control" id="fullname" placeholder="Full Name">
        </div>
        <div class="form-group">
            <label for="phonenumber">Phone Number</label>
            <input type="text" ngModel name="phone" required #phone="ngModel" class="form-control" id="fullname" placeholder="Phone Number">
        </div>
        <div class="form-group" ngModelGroup="symptoms">
            <label for="symptoms">Do have any of the following symptoms?</label>
            <div class="form-check">
                <label class="form-check-label" for="cough">
                <input type="checkbox" ngModel name="cough"> New and Persistent cough
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="breathing">
                    <input type="checkbox" ngModel name="breathing"> Shortness of breath or any difficulty breathing
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="fever">
                    <input type="checkbox" ngModel name="fever"> Fever
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="symptoms">
                    <input type="checkbox" ngModel name="symptom" > No Symptoms
                </label>
            </div>
            
        </div>
        <div class="form-group">
            <label for="contact">Have you been in contact with anyone in the last 14 days who is experiencing these symptoms?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" ngModel name="contact" value="Yes" required>
                <label class="form-check-label" for="contactYes">
                  Yes
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" ngModel name="contact" value="No" required>
                <label class="form-check-label" for="contactNo">
                  No
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="contactCovid">Have you been in contact with anyone who has since tested positive for Covid-19?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" ngModel name="contactCovid" id="contactCovidYes" value="Yes">
                <label class="form-check-label">Yes</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" ngModel name="contactCovid" id="contactCovidNo" value="No">
                <label class="form-check-label">No</label>
            </div>
            
        </div>
        <div class="form-group">
            <label for="travelled">Have you travelled abroad in the last 1-2 months?</label>
            <input type="text" ngModel name="travelled" required #travelled="ngModel" class="form-control" id="travelled" placeholder="Have you travelled abroad in the last 1-2 months?">
        </div>
        <div class="form-group">
            <label for="appointment"> Reason for appointment </label>
            <input type="text" ngModel name="appointment" required #appointment="ngModel" class="form-control" id="appointment" placeholder="Reason for appointment">
        </div>
        <div class="form-group" ngModelGroup="submit_reset">
            <button type="submit" class="btn btn-primary"> Submit </button> &nbsp; 
            <button type="reset" class="btn btn-primary"> Reset </button>
        </div>

        <h3>Form Info - to Check if the form has got the info</h3>
        <p>Form values: {{ screeningForm.value | json }}</p>
        <p>Form valid: {{ screeningForm.valid }}</p>

        <h3> All client or Users (DB) </h3>
        <table>
            <thead>
              <tr>
                <th> ID </th>
                <th> Visitor </th>
                <th> Status </th>
              </tr>
             </thead>
             <tbody>
                <tr *ngFor="let visitor of clientData">
                    <td> {{ visitor.id }} </td>
                    <td> {{ visitor.fullname }} </td>
                    <td> {{ visitor.phone }} </td>
                  </tr>
            </tbody>
          </table>
        
    </form>
    </div>
</div>
