<div class="container" data-aos="fade-right">


  <div class="card text-center">

    <div class="card-header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" width="100%">
        <a class="navbar-brand" routerLink="/user-profile" routerLinkActive="active">Profile</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/user" routerLinkActive="active">Users</a>
              </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/screen-report" routerLinkActive="active">Screen Report</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/statistics" routerLinkActive="active">Statistics</a>
            </li>
          
          </ul>
        </div>
      </nav>
    </div>
    
  <!--/.Navbar-->
</div>

<div class="card text-center">
  <h1 class="display-6">Rules &amp; Regulations</h1>

  <ol class="list-group list-group-numbered">
    <li class="list-group-item">Wear your mask.</li>
    <li class="list-group-item">Stay home when you are not feeling well.</li>
    <li class="list-group-item">Wash your hand regularly.</li>
    <li class="list-group-item">2 metre social distancing must be maintained.</li>
    <li class="list-group-item">Never share your mask with someone.</li>
    <li class="list-group-item">Use hand sanitizer often.</li>
    <li class="list-group-item">Make sure that you sanitize regularly touched object and surface.</li>
    <li class="list-group-item">Sneeze or Cough in your belt elbow not your hands.</li>
    <li class="list-group-item">No hugs and shaking of hands</li>
  </ol>
</div>

<footer>
  <div class="conta">
    
  </div>
</footer>

</div>
