<div class="container">

            <div class="card text-center">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="true" href="#">Notice</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><strong>Notice</strong></h5>
                  <p class="card-text">Remember to keep your mask on, sanitize regularly and maintain social distance</p>
                  <a href="https://sacoronavirus.co.za" class="btn btn-primary">For More Protocols</a>
                </div>
            </div>
  

</div>
