<div class="container">

    <div class="card text-center">
        <div class="card-header">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand"  routerLink="/user-profile" routerLinkActive="active">Profile</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/user" routerLinkActive="active">Users</a>
                  </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/screen-report" routerLinkActive="active">Screen Report</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" routerLink="/statistics" routerLinkActive="active">Statistics</a>
                </li>
              
              </ul>
              
            </div>
          </nav>
        </div>
        
      <!--/.Navbar-->
    </div>
    <h1 class="display-6">Statistics</h1>
    <div class="card">
        <div class="card-header">
            Daily Report
        </div>
        <div class="card-body">
            <p class="card-text">Daily Campus Statistics</p>

            
            <table style="border: 1px" style="text-align: center" width=100%>
        
                <tr>
                   <th>Staff</th>
                   <th>Students</th>  
                   <th>Contractors</th>
                   <th>Visitors</th>
                   <th>Screened</th>
                   <th>Covid-19 Symptoms</th>
                 </tr>
            </table>


        </div>
    </div>
    <br><br>
    <div class="card">
        <div class="card-header">
            Weekly Report
        </div>
        <div class="card-body">
            <p class="card-text">Weekly Campus Statistics</p>
            <table style="border: 1px" style="text-align: center" width=100%>
        
                <tr>
                   <th>Staff</th>
                   <th>Students</th>  
                   <th>Contractors</th>
                   <th>Visitors</th>
                   <th>Screened</th>
                   <th>Covid-19 Symptoms</th>
                 </tr>
            </table>

        </div>
    </div>
    <br><br>
    <div class="card">
        <div class="card-header">
            Monthly Report
        </div>
        <div class="card-body">
            <p class="card-text">Monthly Campus Statistics</p>
            <table style="border: 1px" style="text-align: center" width=100%>
        
                <tr>
                   <th>Staff</th>
                   <th>Students</th>  
                   <th>Contractors</th>
                   <th>Visitors</th>
                   <th>Screened</th>
                   <th>Covid-19 Symptoms</th>
                 </tr>
            </table>

            
        </div>
    </div>


</div>