<div class="container">

    <div class="card text-center">
        <div class="card-header">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" routerLink="/user-profile" routerLinkActive="active">Profile</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/user" routerLinkActive="active">Users</a>
                  </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/screen-report" routerLinkActive="active">Screen Report</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" outerLink="/statistics" routerLinkActive="active">Statistics</a>
                </li>
              
              </ul>
            </div>
          </nav>
        </div>
        
      <!--/.Navbar-->
    </div>


</div>

 <div class="row">
        <div class="col-md-4 offset-md-3 mt-10">
           
            <div>
                <h2>Admin</h2>
            </div><br>
            <div *ngFor = "let data of arrayData">
                  <div class="form-group">
                    <label for="regUsername">First Name</label>
                    <input type="text" name="first"  ngModel #first="ngModel" class="form-control" id="regFname" placeholder={{data.fname}}>
                  </div>
                  <div class="form-group">
                      <label for="loginUsername">Last Name</label>
                      <input type="text" name="last"  value={{data.fname}} ngModel #last="ngModel" class="form-control" id="regLname" placeholder={{data.lname}}>
                  </div>
                  <div class="form-group">
                      <label for="loginUsername">ID Number</label>
                      <input type="text" name="id_num" readonly ngModel #username="ngModel" class="form-control" id="regUname" placeholder={{data.id_number}}>
                  </div>
                  <div class="form-group">
                      <label for="loginUsername">Email</label>
                      <input type="email" name="email" ngModel #email="ngModel" class="form-control" id="regLname" placeholder={{data.email}}>
                  </div>
                  <div class="form-group">
                    <label for="loginLanguage">Language</label>
                    <input type="text" name="language" ngModel required #language="ngModel" class="form-control" id="language" placeholder={{data.home_lang}}>
                </div>
                
                  <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input type="password" name="password" ngModel required #password="ngModel" class="form-control" id="loginPassword" placeholder="Password">
                    </div>
            </div>
            
        </div>
            
             <!-- </div>
              <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Submit</button>
        </div>-->
        <br><br>
           <div class="col-md-4 offset-md-3 mt-10">
            <input type="submit" value="submit">
            </div>
  </div>


